/*########## Default ###############*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1;
}

nav,
header,
footer,
main,
section,
article {
    display: block;
}

article {
    padding: 4% 5%;
    display: flex;
    justify-content: space-between;
}

#section-1-gradient {
    background: linear-gradient(#076DFF, #65a5ff);
}

.form-section {
    text-align: center;
    font-size: 1.5rem;
    margin-left: 10%;
}

.form-section h1 {
    color: white;
    font-size: 48px;;
    margin-top: 0;
}

.form {
    display: flex;
    flex-direction: column;
}

.form label {
    text-align: left;
    margin: 3% 0;
}

input[type="text"],
input[type="password"] {
    font-size: 20px;
    padding: 5px;
    min-width: 100px;
    border-radius: 7px;
}

.header {
    text-align: center;
    font-size: 28px;
}

.flex-direction-column {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2% 0;
}

.flex-direction-column section {
    display: flex;
    flex-direction: row;
}

.flex-direction-column section div {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15), 0 2px 3px 0 rgba(0, 0, 0, .1);
    margin: 0 2%;
    border-radius: 7px;
    padding: 1%;
}

.flex-direction-column button {
    display: block;
    margin: auto;
    color: #ffffff;
    background-color: #076DFF;
    padding: 15px 60px;
    font-size: 32px;
    font-weight: bold;
    border-radius: 7px;
    margin-top: 2%;
}

.img-slope {
    box-shadow: -2px/*H*/
    -2px/*V*/
    20px/*B*/
    2px/*S*/
    rgba(0/*Sh*/
    , 0/*BG*/
    , 0/*BX*/
    , .15/*Op*/
    ), 2px 2px 17px 2px rgba(0, 0, 0, 1);
    display: block;
    margin: auto;
}

.text-about {
    padding: 5%;
    font-size: 28px;
}
.footer{
    background-color: #666;
    color: #fff;
}
.footer article{
    padding: 0 5%;
}
/*########## Navbar ###################*/

.top-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #eee;
}

.top-nav {
    margin: 0;
    padding: 0;
}

.top-nav li {
    list-style-type: none;
}

.top-nav li:last-child {
    margin-left: auto;
    display: none;
}

.top-nav li a {
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 14px;
    text-transform: uppercase;
}

.top-nav li a:hover {
    background-color: #0080ff;
}

/*############## Mobile ##########################*/

<<<<<<< HEAD
@media  screen and (max-width:768px) {
=======
@media screen and (max-device-width:680px) {
>>>>>>> 946d0350cc7ef461e0e949c813053dc9ce79cb9b
    .top-nav {
        justify-content: flex-start;
        flex-direction: column;
    }
    .top-nav li:not(:first-child) {
        display: none;
    }
    .top-nav li:last-child {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }
    .top-nav.responsive li:not(:last-child) {
        display: list-item;
        width: 100%;
    }
    .top-nav.responsive li a {
        width: inherit;
    }
    article {
        display: flex;
        flex-direction: column;
    }
    article section {
        margin: 15px;
    }
    .yt-container iframe {
        position: relative;
        width: 100%;
        overflow: hidden;
        margin: 0;
    }
    .flex-direction-column {
        display: flex;
        flex-direction: column;
    }
    .flex-direction-column section {
        display: flex;
        flex-direction: column;
    }
    .flex-direction-column section div {
        margin: 2% 0;
    }
    .img-slope {
        width: 100%;
    }
}
